<div class="spacer" style="height:100px;"></div>

<hr>
<footer>
    <div class="row flex-align-center">
        <div class="cell-md-5 text-center-md text-left">
            <ul class="inline-list reduce-2">
                <li>© 2020-2022, Team Sina. | Last Build: {% project_version %}</li>
            </ul>
        </div>
        <div class="cell-md-2 text-center">
            <div>
                <a href="" class="no-decor"><img src="/assets/img/sinalogo.png" alt="思惟奈ちゃんヘルプセンター" width="130" height="30"></a>
            </div>
        </div>
        <div class="cell-md-5 text-center-md text-left">
            <ul class="inline-list reduce-2">
                <li><a href="https://sina-chan.com">公式サイト</a></li>
                <li><a href="https://discord.gg/ApYaeVjGKs">サポートサーバー</a></li>
            </ul>
        </div>
    </div>
</footer>