{% include head.html %}
<body>
    {% include header.html %}
    {% include gtm-body.html %}
    
    <ul class="breadcrumbs">
        <li class="page-item"><a href="/" class="page-link">ヘルプセンター</a></li>
        <li class="page-item"><a href="/category" class="page-link">カテゴリ一覧</a></li>
        <li class="page-item"><a href="/category/{{page.category| slugify }}" class="page-link">{{page.category}}</a></li>
        <li class="page-item"><a href="#" class="page-link">{{post.title}}</a></li>
    </ul>

    <section class="main_article">
        <h1>{{page.title}}</h1>
        <p>{{page.category}} | {{ page.date | date:"%Y/%-m/%d" }}</p>
        <hr>
        <div class="main_article_content">
            {{content}}
        </div>
        <hr>
        <h4>解決しなかった時は...</h4>
        <p>他の記事を検索するもしくは<a href="https://support.center.sina-chan.com">サポートセンター</a>をご利用ください。<br>障害・メンテナンスの情報は<a href="https://status.sina-chan.com">ステータスページ</a>にてご確認ください。</p>
        <hr>
        <h4>コメントを残す</h4>
        <script src="https://giscus.app/client.js"
            data-repo="SInaKitagami/sina-helpcenter"
            data-repo-id="R_kgDOIplNjg"
            data-category="チャット"
            data-category-id="DIC_kwDOIplNjs4CTYyE"
            data-mapping="title"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="light_tritanopia"
            data-lang="ja"
            crossorigin="anonymous"
            async
        >
        </script>
    </section>
    {% include footer.html %}
</body>
</html>