on:
  push:
    branches:
      - master
permissions:
  contents: write
  pages: write
jobs:
  gh-pages-deploy:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Setup Ruby, JRuby and TruffleRuby
      uses: ruby/setup-ruby@v1.128.0
      with:
        ruby-version: '3.1.2'
    - name: Install libvips
      run: |
        sudo apt-get update
        sudo apt-get install libvips libvips-tools
    - name: bundle install
      run: |
        bundle config set path 'vendor/bundle'
        bundle install
    - name: Jekyll Build
      run: bundle exec jekyll build --trace
    - name: Deploy
      uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
      with:
        personal_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_site
